<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-light footer-text">Copyright &copy; <%= link_to "DAFON", "https://github.com/Daniel-Fonseca-da-Silva
", class: "link-pagina" %>
    </span>
  </div>
</footer>
