<%= render 'articles/navigation' %>
<div class="container" id="home-container">
  <div class="card text-center">
    <div class="card-header">
      Your location now
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer text-muted">
      <%= link_to 'Show articles', articles_path %>
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>
<%= render 'articles/footer' %>
