// NavBar style
#home-container {
  padding-top: 25px;
}

.navbar {
  background-color: #333 !important;
}

.nav-link {
  color: #fff !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// Body Style
body {
  background: #ddd; 
}

// Footer style
.footer-text, .link-pagina {
  color: #ccc !important;
  text-decoration: none;
}

// Article page | index
.text-article {
  margin: 1% 0;
}

.icon-system {
  color: #333;
}

// About page
.about-container {
  margin-top: 2%;
}

.title-about {
  padding-bottom: 2%;
  font-weight: bold;
}

// Home page
.title-home {
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 3em;
}

